extends layout

block content


  .container
    h1.logo= title
    .user-input
      
      input(id="user-url", type="text", name="user-url" value="https://www.youtube.com/watch?v=nRGz2md8l28")
      <br / >
      button(id="user-btn") Shorten

    .server-data
      .link(id="link" href="/li/6862221382128" value="THIS IS A TEST TO COPY") localhost:3000/li/6862221382128
      button(id="copyToClip") 