extends layout

block content
  h1= title


  .container

    .user-input
      
      input(id="user-url", type="text", name="user-url" value="https://www.youtube.com/watch?v=nRGz2md8l28")
      <br / >
      button(id="user-btn") Shorten

    .server-data
      a.link(href="/li/6862221382128") localhost:3000/li/6862221382128
  