extends layout

block content

  .container
    h1.logo= title
    .user-input
      
      input(id="user-url", type="text", name="user-url" value="https://www.youtube.com/watch?v=nRGz2md8l28")
      <br / >
      button(id="user-btn") Shorten
    .server-data
      .link(id="link" href="/li/6862221382128" value="THIS IS A TEST TO COPY") localhost:3000/li/6862221382128
      button(id="copyToClip" data-clipboard-target="#link") 
        img(src="/images/clipboard.svg", alt="Copy to Clipboard")
        
      //- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      