extends layout

block content
  h1= title
  p Welcome to #{title}


  form(name="get-short-url", method="post", action="/api/url/")
    div.input
      span.label URL
      input(type="text", name="user-url")
    .actions
      input(type="submit", value="Shorten")

