extends layout

block content

  .container
    h1.logo= title
    p.example Example link:  https://www.youtube.com/watch?v=rSEn1e3nybs
    .user-input
      
      input(id="user-url", type="text", name="user-url" placeholder="Enter Link Here")
      <br / >
      button(id="user-btn") Shorten
    .server-data
      .link(id="link" href="#" value="THIS IS A TEST TO COPY")
      button(id="copyToClip" data-clipboard-target="#link") 
        img(src="/images/clipboard.svg", alt="Copy to Clipboard")
        
      //- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      