doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    block content
  script(src="https://code.jquery.com/jquery-3.2.1.min.js",
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
  crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js")
  script(src="/javascripts/script.js")
